# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* List popular languages for Data Science
* List popular tools for Data Science
* List popular libraries for Data Science

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. TensorFlow
3. Pandas
4. MatPlotLib

|Data Science Tools|
|:-----------------:|
|Cassandra|
|MySQL|
|MongoDB|

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
## This a simple arithmetic expression to mutiply then add integers
x=int()
x=(3*4)+5
print(x)

17

In [2]:
#This will convert 200 minutes to hours by diving by 60

x=200
y=float()
y=x/60
print('200 minutes are',y,'hours')

200 minutes are 3.3333333333333335 hours

## Author

Paulo Machado